# Project
/node_modules
/public/hot
/public/assets
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log

# Plugins
_ide_helper.php
_ide_helper_models.php

# Editors
/.idea
/.vscode
